@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,900&display=swap');
*{
    box-sizing: border-box;
}


body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

h2{
    margin:10px 0 20px;
    text-align: center;
}

.container{
    background-color: crimson;
    padding: 20px;
    width: 350px;
    max-width: 100%;
}

.result_container{
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
   
}

.result{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.btn{
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
}

.result_container .btn{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
}


.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}


.btn-large{
    width: 100%;
    display: block;
}